@import url("https://fonts.googleapis.com/css?family=Londrina+Shadow");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fira+Code:400,700,400italic");
@import url("https://fonts.googleapis.com/css2?family=Martel:wght@400;700&display=swap");
@import "tooltips.css";

/* @import 'remark.less'; */

html {
  font-size: 10px;
  background-color: #F2F2F2;
}
.remark-slide {
  display: block;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}
.remark-slide-content {
  display: block;
  box-sizing: border-box;
  height: 100%;
  line-height: 1.25;
  padding: 20px 80px 0 80px;
  font-size: 2rem;
}
.remark-slide-content * {
  box-sizing: border-box;
}
.remark-slide-content.debug * {
  outline: 1px solid gold;
}
.remark-slide-content.debug-white * {
  outline: 1px solid white;
}
.remark-slide-content.debug-black * {
  outline: 1px solid black;
}
.remark-slide-content.debug-grid {
  background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAFElEQVR4AWPAC97/9x0eCsAEPgwAVLshdpENIxcAAAAASUVORK5CYII= ) repeat top left;
}
.remark-slide-content.debug-grid-16 {
  background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAMklEQVR4AWOgCLz/b0epAa6UGuBOqQHOQHLUgFEDnAbcBZ4UGwDOkiCnkIhdgNgNxAYAiYlD+8sEuo8AAAAASUVORK5CYII= ) repeat top left;
}
.remark-slide-content.debug-grid-8-solid {
  background: white url(data:image/gif;base64,R0lGODdhCAAIAPEAAADw/wDx/////wAAACwAAAAACAAIAAACDZQvgaeb/lxbAIKA8y0AOw== ) repeat top left;
}
.remark-slide-content.debug-grid-16-solid {
  background: white url(data:image/gif;base64,R0lGODdhEAAQAPEAAADw/wDx/xXy/////ywAAAAAEAAQAAACIZyPKckYDQFsb6ZqD85jZ2+BkwiRFKehhqQCQgDHcgwEBQA7 ) repeat top left;
}
.remark-slide-content h1 {
  font-size: 5rem;
}
.remark-slide-content h2 {
  font-size: 3rem;
  text-align: left;
}
.remark-slide-content h3 {
  font-size: 2.75rem;
  text-align: left;
}
.remark-slide-content pre,
.remark-slide-content code,
.remark-slide-content kbd,
.remark-slide-content tt,
.remark-slide-content samp {
  font-size: 1.5rem;
  line-height: 1.5;
}
.remark-slide-content.scrollable { 
  overflow-x: hidden; 
  overflow-x: auto; 
  text-align: justify; 
  padding-top: 4rem;
  height: auto;
  max-height: 600px;
  font-size: 14px;
  font-family: 'Martel';
  line-height: 32px;
} 
.remark-slide-content.scrollable h1 {
  margin-left: -25px;
  line-height: normal;
  text-align: left;
}
.remark-slide-content.compact {
  padding: 20px 40px 0 40px;
  font-size: 1.75rem;
}
.remark-slide-content.compact h1 {
  font-size: 2.75rem;
}
.remark-slide-content.compact h2 {
  font-size: 2.5rem;
}
.remark-slide-content.compact h3 {
  font-size: 2.25rem;
}
.remark-slide-content.compact pre,
.remark-slide-content.compact code,
.remark-slide-content.compact kbd,
.remark-slide-content.compact tt,
.remark-slide-content.compact samp {
  font-size: 1.25rem;
}
.remark-slide-content.roomy {
  padding: 20px 80px 0 80px;
  font-size: 2.25rem;
}
.remark-slide-content.roomy h1 {
  font-size: 4rem;
}
.remark-slide-content.roomy h2 {
  font-size: 3rem;
}
.remark-slide-content.roomy h3 {
  font-size: 2.75rem;
}
.remark-slide-content.roomy pre,
.remark-slide-content.roomy code,
.remark-slide-content.roomy kbd,
.remark-slide-content.roomy tt,
.remark-slide-content.roomy samp {
  font-size: 1.75rem;
}
.remark-slide-content.title h1 {
  font-size: 4rem;
}
.remark-slide-content.title h2 {
  font-size: 3rem;
}
.remark-slide-content.title h3 {
  font-size: 2.25rem;
}
.remark-slide-content img {
  max-width: 100%;
}
.remark-slide-content h1,
.remark-slide-content h2,
.remark-slide-content h3 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.remark-slide-content table,
.remark-slide-content .katex {
  font-size: 85%;
}
.remark-slide-content.fullbleed,
.remark-slide-content.fullbleed > p {
  margin: 0;
  padding: 0;
}
.remark-slide-content.title {
  text-align: center;
  background-size: cover;
}
.remark-slide-content.title h1,
.remark-slide-content.title h2,
.remark-slide-content.title h3 {
  position: absolute;
  width: 100%;
  left: 0;
  margin: 0;
  padding: 1em 0;
  font-weight: normal;
}
.remark-slide-content.title h1 {
  top: calc(50% - 2.5em);
}
.remark-slide-content.title h2 {
  top: calc(50% - 1em);
}
.remark-slide-content.title h3 {
  top: calc(50% - 0.5em);
}
.remark-slide-content.title.top h1 {
  top: calc(681px * 0.3 - 2.5em);
}
.remark-slide-content.title.top h2 {
  top: calc(681px * 0.3 - 1em);
}
.remark-slide-content.title.top h3 {
  top: calc(681px * 0.3 - 0.5em);
}
.remark-slide-content.title.bottom h1 {
  top: calc(681px * 3/4 - 2.5em);
}
.remark-slide-content.title.bottom h2 {
  top: calc(681px * 3/4 - 1em);
}
.remark-slide-content.title.bottom h3 {
  top: calc(681px * 3/4 - 0.5em);
}
.remark-slide-content.title.shelf > h1 {
  padding-bottom: 2.25em;
  margin-bottom: -1.75em;
}
.remark-slide-content.img-caption {
  text-align: center;
  padding-top: 544.8px;
}
.remark-slide-content.img-caption > p:first-of-type {
  padding: 0px;
  margin: 0px;
}
.remark-slide-content.img-caption > p:first-of-type > img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 80%;
  object-fit: cover;
}
.remark-slide-content.img-right > p:first-of-type {
  height: 100%;
  float: right;
  width: calc(50% - 1rem);
  margin-left: 2rem;
  margin-top: 20px;
  padding: 0px;
}
.remark-slide-content.img-left > p:first-of-type {
  height: 100%;
  float: left;
  width: calc(50% - 1rem);
  margin-right: 2rem;
  margin-top: 20px;
  padding: 0px;
}
.remark-slide-content.img-left > ul,
.remark-slide-content.img-left > ol,
.remark-slide-content.img-left > blockquote {
  overflow: auto;
}
.remark-slide-content.img-right-full {
  padding-right: calc(40% + 2rem);
}
.remark-slide-content.img-right-full > p:first-of-type {
  margin: 0px;
  padding: 0px;
}
.remark-slide-content.img-right-full > p:first-of-type > img {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 40%;
  object-fit: cover;
  object-position: left;
}
.remark-slide-content.img-left-full {
  padding-left: calc(40% + 2rem);
}
.remark-slide-content.img-left-full > p:first-of-type {
  margin: 0px;
  padding: 0px;
}
.remark-slide-content.img-left-full > p:first-of-type > img {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 40%;
  object-fit: cover;
  object-position: right;
}
.remark-slide-content.img-full-text > p:first-of-type > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  max-height: 400px;
}
.remark-slide-content.img-full > p:first-of-type > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  max-height: 475px;
  /* padding-bottom: 100px; */
}
.remark-slide-content.col-2 {
  columns: 2;
  padding-top: 136px;
  column-gap: 1.5em;
}
.remark-slide-content.col-2 > h1:first-of-type {
  position: absolute;
  margin-top: 0px;
  top: 44px;
  left: 80px;
}
.remark-slide-content.col-2.compact {
  padding-top: 136px;
}
.remark-slide-content.col-2.compact > h1:first-of-type {
  top: 42px;
  left: 40px;
}
.remark-slide-content.col-2.roomy {
  padding-top: 168px;
}
.remark-slide-content.col-2.roomy > h1:first-of-type {
  top: 52px;
  left: 80px;
}
.remark-slide-content.col-2 *:nth-child(2) {
  margin-top: 0px;
}
.remark-slide-content.col-2 > ul,
.remark-slide-content.col-2 > ol {
  break-inside: avoid;
  page-break-inside: avoid;
}
.remark-slide-content.col-3 {
  columns: 3;
  padding-top: 136px;
  column-gap: 1.5em;
}
.remark-slide-content.col-3 > h1:first-of-type {
  position: absolute;
  margin-top: 0px;
  top: 44px;
  left: 80px;
}
.remark-slide-content.col-3.compact {
  padding-top: 136px;
}
.remark-slide-content.col-3.compact > h1:first-of-type {
  top: 42px;
  left: 40px;
}
.remark-slide-content.col-3.roomy {
  padding-top: 168px;
}
.remark-slide-content.col-3.roomy > h1:first-of-type {
  top: 52px;
  left: 80px;
}
.remark-slide-content.col-3 *:nth-child(2) {
  margin-top: 0px;
}
.remark-slide-content.col-3 > ul,
.remark-slide-content.col-3 > ol {
  break-inside: avoid;
  page-break-inside: avoid;
}
.remark-slide-content .remark-slide-number,
.remark-slide-content .footer li {
  font-size: 1.25rem;
  color: #c4c4c4;
  display: block;
  list-style: none;
  position: absolute;
  bottom: 15px;
  height: 30px;
  margin: 0px;
  padding: 2px 5px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0);
}
.remark-slide-content .footer a {
  color: #c4c4c4;
}
.remark-slide-content .footer a:hover {
  color: #C1A875;
}
.remark-container{
  background-color: white;
}
/* footer a{
  color: #c4c4c4;
  position: aboslute;
  bottom: 12px;
  height: 30px;
  margin: 0px;

} */
.remark-slide-content .footer,
.remark-slide-content .footer ul {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  height: 50px;
  margin: 0px;
  padding: 0px;
}
.remark-slide-content .footer li:nth-child(1) {
  left: 10px;
}
.remark-slide-content .footer li:nth-child(2) {
  left: 30px;
  /* margin-left: -50px; */
}
.remark-slide-content .footer li:nth-child(3) {
  left: 52px;
  /* margin-left: -50px; */
}
.remark-slide-content .footer li:nth-child(4) {
  left: 70px;
  /* margin-left: -50px; */
}
.remark-slide-content .footer li img {
  display: block;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.remark-slide-content.no-footer .remark-slide-number,
.remark-slide-content.no-footer .footer {
  display: none;
}

body { font-family: 'Manrope'; background-color: white;}
h2, h3 {
  font-family: 'Manrope';
  font-weight: Bold;
  color: #433024;
}
h1 {
  font-family: 'Londrina Shadow';
  font-weight: normal;
  color: #433024;
}
.remark-code, .remark-inline-code {
  font-family: 'Fira Code';
  background-position: #F8F8F8;
}
a {
   color: #636363;
   text-decoration: none;
 }
a:hover{color: #C1A875;}
.remark-container{
  background-color: white;
}
.remark-slide-scaler {
    box-shadow: none;
}
blockquote{
    font-weight: 200;
    border-left:6px solid #C1A875;
    background-color: #F8F8F8;
    padding-left:20px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 15px;
}

.image-credit {
  color: #c4c4c4;
  font-size: 0.9rem;
  bottom: 20px;
  align: center;
  font-style: italic;
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

.image-caption {
  font-size: 0.75em;
  font-style: italic;
  color: #636363;
  /* align: center; */
}
.image-caption-center {
  font-size: 0.75em;
  font-style: italic;
  color: #636363;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.img-portrait {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
.img-center-v {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.img-center-h {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
.img-right-post {
  max-height: 300px;
  float: right;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 5px;
  margin-bottom: 50px;
}


/* Mermaid ================================== */

.mermaid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Manrope';
  text-align: center;
}

.video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border: none;
  box-shadow: none;
}

/********/
/* Help */
/********/

.remark-help-content h1 {
    color: white;
    font-size: 36px;
    font-family: 'Helvetica';
}

/************/
/* Tooltips */
/************/
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #F2F2F2;
  color: black;
  width: auto;
  white-space: nowrap; 
  text-align: left;
  padding: 5px;
  border-radius: 6px;
  border-width: 5px;
  border-color: #433024;
  bottom: 100%;
  left: 50%;
  margin-left: -15px; /* Use half of the width (120/2 = 60), to center the tooltip */
  position: absolute;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
kbd {
  border-radius: 3px;
  padding: 1px 2px 0;
  border: 1px solid black;
  background-color: white;
}
.tooltip-checkbox {
  position: absolute;
  z-index: 3;
}
.tooltip-checkbox span {
  visibility: hidden;
  width: auto;
  white-space: nowrap;
  background-color: #F2F2F2;
  color: black;
  text-align: left;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  top: 1em;
  left:  100%;
  margin-left:1em;
  opacity: 0;
  transition: opacity 1s;
  font-size: 14px;
}
.tooltip-checkbox input {
  display:none;
}
.tooltip-checkbox input:checked+span {
  visibility: visible;
  opacity: 1;
}

table {
	margin-left: auto;
  margin-right: auto;
	border-collapse: collapse;
	width: 50%;
	font-family: $chem370text;
	font-size: 14px;
  margin-top: 50px;
  margin-bottom: 50px;
}

th {
	background-color: #433024;
	color: white;
	font-weight: bold;
}

table, th, td {
	padding: 5px;
}

tr {
	border-bottom: 2px solid #F5F4F1;
}
tr:last-child {
	border-bottom: 2px solid #433024;
}
tr:hover {
  background-color: #C1A875;
}
