$body-font-family: 'Barlow';

$body-background-color: $white;
$sidebar-color: #f2f2f2;
$border-color: #f2f2f2;

$body-text-color: #262626;
$body-heading-color: #592C88;
$nav-child-link-color: #636363;
$search-result-preview-color: #262626;

$link-color: #592C88;
$btn-primary-color: $blue-200;
$base-button-color: $grey-dk-250;

$code-background-color: #f2f2f2;
$search-background-color: #f2f2f2;
$table-background-color: $white;
$feedback-color: darken($sidebar-color, 3%);
